datasets==2.18.0
MNN==3.0.0
onnx==1.16.2
onnxslim==0.1.34
onnxruntime==1.19.2
peft==0.11.1
Pillow==11.0.0
Requests==2.32.3
sentencepiece==0.1.99
torch==2.3.1
tqdm==4.65.0
transformers==4.45.2
yaspin==3.1.0
numpy==1.25.2
